<meta charset="UTF-8">
<title><%=title%></title>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/bootstrap.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script>
<script src="/js/directives.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/services.js"></script>
